{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/index.css"></link>
{% endblock %}

{% block content %}
	<h1>This is LAT Soundsystem</h1>

	<div id="background">

	        <div id="result"></div>

	         <div id="main">
	             <div id="first-rows">
	              <button class="del-bg" id="delete">Del</button>
	                 <button value="%" class="btn-style operator opera-bg fall-back">%</button>
	                 <button value="+" class="btn-style opera-bg value align operator">+</button>
	                 </div>

	               <div class="rows">
	             	 <button value="7" onclick="play('take_me_to_the_clouds_above');" class="btn-style num-bg num first-child">7</button>
	                 <button value="8" onclick="play('take_me_to_the_clouds_above');" class="btn-style num-bg num">8</button>
	                 <button value="9" onclick="play('take_me_to_the_clouds_above');" class="btn-style num-bg num">9</button>
	                 <button value="-" class="btn-style opera-bg operator">-</button>
	               </div>

	                 <div class="rows">
	                 <button value="4" onclick="play('snap');" class="btn-style num-bg num first-child">4</button>
	                 <button value="5" onclick="play('snap');" class="btn-style num-bg num">5</button>
	                 <button value="6" onclick="play('snap');" class="btn-style num-bg num">6</button>
	                 <button value="*" class="btn-style opera-bg operator">x</button>
	                 </div>

	                 <div class="rows">
	                 <button value="1" onclick="play('rollout');" class="btn-style num-bg num first-child">1</button>
	                 <button value="2" onclick="play('rollout');" class="btn-style num-bg num">2</button>
	                 <button value="3" onclick="play('rollout');" class="btn-style num-bg num">3</button>
	                 <button value="/" class="btn-style opera-bg operator">/</button>
	                 </div>

	                 <div class="rows">
	                 <button value="0" class="num-bg zero" id="delete">0</button>
	                 <button value="." class="btn-style num-bg period fall-back">.</button>
	                 <button value="=" id="eqn-bg" class="eqn align">=</button>
	                 </div>

	             </div>

	         </div>

	<script>
		var play = function (name) {
			// For the user
			var audio = new Audio('/static/' + name + ".wav");
			audio.play();
			// On the soundsystem
			var url = "https://dweet.io/dweet/for/lat-soundsystem?hook=" + name;
			console.log(url);
			$.ajax(url, function (data) { console.log(data); })
		}
	</script>
{% endblock %}
